.container {
    background-color: #333; 
    color: #FFF; 
}
.texto_contacto {
    color: #ffffff; 
    text-decoration: none;
}
.texto_contacto:hover {
    text-decoration: none;
    color: #ffffff; 
}

.btn {
    background-color: #264653; 
    color: #FDEEDC; 
    border: 2px solid #000000; 
}