*{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   padding: 0;
   margin: 0;
}

/*Para todo*/
body{
    background-image: url("../images/FondoIndex.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.header-bot{
    top: 0;
    position: fixed;
    background-color: #ffffff3e;
    width: 100%;
    padding-top: 6px;
    text-align: center;
    height: 70px;
    justify-content: space-around;
    color: black;
}
.header-Reg{
    top: 0;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    padding-top: 6px;
    text-align: center;
    height: 70px;
    justify-content: space-around;
    color: black;
}
.header-title{
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
}
.dropdown-content li a:hover {
    background-color: #ddd;
}

.dropdown-content li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.Logo{
    height: 55px;
    width: 55px;
    border-radius: 50px;
}
.buttonTop{
    height: 45px;
    width: 140px;
    border-radius: 50px;
    font-size: 20px;
    position: center;
}
.title{
    font-size: 30px;
    color: #fff;
}
a{
    text-decoration: none;
    color: #3e3e3e;
}
.bod{
    background-color: #a7abacc7 ;
    border-radius: 50px;
    height: 750px;
    border: solid;
    border-color: black;
    position: center;
}
.espacioTop{
    padding-top: 100px;
}
.bodReg{
    background-color: #a7abac9c;
    width: 700px;
    padding: 20px;
    border-radius: 50px;
    border:solid;
    border-color: black;
}
.center{
    text-align: center;
}
.titlebod{
    font-size: 120px;
    text-align: center;
    color: black;
}
.texto{
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
}
.buttonBot{
    height: 80px;
    width: 190px;
    background-color: white;
    border-radius: 50px;
    font-size: 30px;
}
.registro{
    text-align: center;
}
.registroAcceso{
    text-align: center;
    padding: 90px;
}
.butR{
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
}
.ImgInput{
    width: 90px;
    height: 50px;
    text-align: center;
}
.ImgInput-Imagen{
    height: 150px;
    text-align: center;
}
.BottunsRegistrar{
    height: 60px;
    width: 130px;
    border-radius: 50px;
    font-size: 20px;
}
.ingreso{
    font-size: 30px;
    color: black;
}
/*Index*/
.BodyIndex{
    background-color: #a7abacc7;
    border-radius: 50px;
    max-width: 70vw;
    border: 2px solid rgb(36, 36, 36);
}
.BodyIndex-title{
    font-size: 170px;
    width: 100%;
    height: 30%;
    color: black;
}
.BodyIndex-div{
    width: 100%;
    text-align: center;
}
.BodyIndex-div-description{
    font-size: 40px;
    color: #333;
    margin: 0;
}
.BodyIndex-div-description2{
    font-size: 1rem;
    color: #666;
    margin: 20px 0;
}
.error{
    color: red;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px; /* Gap between buttons */
}

button:hover {
    background-color: #ddd;
}

.left-btn {
    background-color: #29292945;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    min-height: 60px;
    min-width: 300px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    flex: 1; 
}

.right-btn {
    background-color: #29292945;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    min-height: 60px;
    min-width: 300px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    flex: 1;
}
/*ChatBot*/
.BodyChat{
    background-image: url("../images/fondochat.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.Chat-body{
    background-color: #F0D1CA;
    min-height: 100vh;
}
.Chatbot{
    background-color: #F0D1CA;
}
.Chat{
    max-height: 70vh;
}
.mensaje{
    width: 100%;
    height: 40px;
}
.NomRecet{
    border: solid;
}

/*Windows alert*/
.window-notice {
    background: rgba(33, 41, 52, .85);
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    transition: background .6s;
}
.window-notice .content {
    background: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

.content-buttons {
    text-align: center;
    margin-top: 1rem;
}

.buttonAlert{
    width: 120px;
    height: 50px;
    border-radius: 50px;
}
.content-buttons a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    background-color: #0080DE;
    color: #FFF;
    text-transform: uppercase;
}

.content-buttons a:hover {
    background-color: #006AB8;
}

.content-text a {
    color: #0080DE;
    text-decoration: none;
}

.content-text a:hover {
    color: #006AB8;
    text-decoration: underline;
    text-align: justify;
}