
h1 {
    color: #ffffff; 
}
.table {
    background-color: #fff; 
}
.table th {
    background-color: #000000bb;
    color: #fff; 
}
.table td {
    color: #000; 
}
.btn-custom {
    background-color: #000000bb; 
    color: #fff; 
}
.btn-custom:hover {
    background-color: #79a7b9 ; 
}