body {
    background-color: #e5e5e5; /* Fondo gris claro */
    color: #000; /* Color de texto negro */
}

h1 {
    padding-top: 50px;
    font-size: 80px;
    text-decoration:underline;
    color: #1a3e59; /* Azul oscuro para el título */
}

.input {
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.input-search {
    border-radius: 5px;
    height: 50px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
}

.input-search:focus,
.input-search:hover{
    background-color: #f6f6f6;
}

.btn-search {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #264653;
    color: white;
    border: none;
    transition: background-color 0.7s ease;
}

.btn-search:hover {
    background-color: #79a7b9;
    scale: 1.1;
}

.table {
    background-color: #f0f0f0; 
}

.table th {
    background-color: #3b3b3b; /* Gris oscuro para el encabezado */
    color: #ffffff;
    text-align: center;
}

.table td {
    color: #000;
    text-align: center;
}

.btn-custom {
    background-color: #264653; /* Azul petróleo para el botón */
    color: #fff; /* Texto blanco */
}

.btn-custom:hover {
    background-color: #79a7b9; /* Azul claro al pasar el ratón */
    scale: 1.1;
}
.card {
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.card-title {
    color: #264653; /* Azul petróleo para los títulos */
}

.btn-custom {
    background-color: #264653; /* Azul petróleo para el botón */
    color: #fff; /* Texto blanco */
    transition: background-color 0.7ss ease; /* Efecto de transición */
}

.btn-custom:hover {
    background-color: #79a7b9; /* Azul claro al pasar el ratón */
}