

.container {
    background-color: #3b3b3b; /* Gris oscuro */
    border: 2px solid #aaa; /* Borde gris más claro */
    padding: 20px;
    border-radius: 15px;
}

.title {
    color: #ffffff; /* Blanco */
}

.description {
    color: #ffffff; /* Blanco */
}

.form-control {
    background-color: #e0e0e0; /* Fondo más claro para formularios */
    color: #333333; /* Texto gris oscuro */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.2em; /* Aumentar tamaño de texto */
}

.form-control::placeholder {
    color: #666; /* Gris claro */
}

.btn {
    background-color: #264653; /* Azul petróleo cálido */
    color: #f0f0f0; /* Texto blanco sucio */
    border: 2px solid #aaa; /* Borde gris más claro */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-size: 1.2em; /* Aumentar tamaño de texto */
}
.btn:hover {
    background-color: #2a9d8f; /* Verde agua cálido */
    color: #ffffff; /* Texto blanco */
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}
.Redir, .text-center a {
    color: #0969da; /* Azul clásico para el enlace */
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1.2em; /* Aumentar tamaño de texto */
}
.text-center a:hover {
    color: #1e53ff; /* Azul más brillante al pasar el ratón */
}


@media (max-width: 575.98px) {
    .container {
        padding: 10px; 
        margin-top: 100px; /* Elimina el margen superior para que ocupe toda la pantalla */
        width: 100%; /* Ancho completo */
        height: 100%; /* Altura completa */
        border-radius: 0; /* Opcional: elimina el redondeo de esquinas */
    }
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 100%; /* Ancho completo */
        height: 100%; /* Altura completa */
        border-radius: 0; /* Opcional: elimina el redondeo de esquinas */
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        border-radius: 25px; 
        max-width: 80%;
    }
}

@media (min-width: 1024px) {
    .container {
        border-radius: 30px; 
        max-width: 60%;
        margin-top: 16%;
    }
}

@media (min-width: 1366px) {
    .container {
        margin-top: 10%;
        border-radius: 30px; 
        max-width: 35%;
    }
}
@media (min-width: 1440px) {
    .container {
        border-radius: 30px; 
        max-width: 25%;
    }
}
