.body{
    background-image: url("../images/FondoIndex.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.BodyIndex-title{
    font-size: 450%;
    padding: 1em 0;
    height: 30%;
    color: black;
}
.BodyIndex-div{
    text-align: center;
    background-color: gray;
}

.BodyIndex-div-description{
    width: 100%;
    padding: 1em 0;
    font-size: 40px;
    
}

.BodyIndex-div-description2{
    font-size: 20px;
}
.BodyIndex-Buttom{
    
}